#bear {
    position: absolute;
    left: 100px;
    /*top: 240px;*/
    width: 100px;
    height: 160px
}

#board {
    position: absolute;
    height: 60px;
    width: 120px;
    background-color: rgb(230,0,115);
    align-content: center;
    align-self: center;
}

#title {
    background-color: rgb(0,230,230);
    align-content: center;
    align-self: center;
}

#scores {
    background-color: rgb(0, 0, 0);
    align-content: center;
    align-self: center;
}

.location {
    color: green;
}

#hits {
    color: red;
}

#duration {
    color: blue;
